<table>
  <tr>
    <th>Day</th>
    <th>Meal</th>
  </tr>
  <tr>
    <td>Monday:</td>
    <td><%= meal_linker(@meal_plan.monday) %></td>
  </tr>
  <tr>
    <td>Tuesday:</td>
    <td><%= meal_linker(@meal_plan.tuesday) %></td>
  </tr>
  <tr>
    <td>Wednesday:</td>
    <td><%= meal_linker(@meal_plan.wednesday) %></td>
  </tr>
  <tr>
    <td>Thursday:</td>
    <td><%= meal_linker(@meal_plan.thursday) %></td>
  </tr>
  <tr>
    <td>Friday:</td>
    <td><%= meal_linker(@meal_plan.friday) %></td>
  </tr>
  <tr>
    <td>Saturday:</td>
    <td><%= meal_linker(@meal_plan.saturday) %></td>
  </tr>
  <tr>
    <td>Sunday:</td>
    <td><%= meal_linker(@meal_plan.sunday) %></td>
  </tr>
</table>


<%= button_to "Delete Meal Plan", meal_plan_path(:id => @meal_plan.id), :method => :delete %>