<h1><%= @recipe.name %></h1>
<ul>
    <% @recipe.ingredients.each do |ingredient| %>
            <li><%= plural(ingredient) %> - <%= ingredient.quantity %> <%= ingredient.unit %></li>
    <% end %>
</ul>

<%= button_to "Edit Recipe", edit_recipe_path(@recipe) %><br>
<%= button_to "Delete Recipe", recipe_path(:id => @recipe.id), :method => :delete %>